*,
* ::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color:black;
  color: rgb(203, 181, 223);
  /* height: 100vh; */
}

section {
  background-color: black;
  height: 100vh;
}

.navbar {
  height: 30%;
  width: 100%;
}
.navbar-brand img {
  width: 8rem;
}
.navbar-toggler {
  background-color: rgb(203, 181, 223);
}
.section {
  min-height: 100%;
  width: 100%;
  text-align: center;
}
.icons {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about {
  height: 100vh;
  color: black;
  background-color: rgb(109, 226, 226);
}
.heading {
  /* margin-top: 80%; */
  text-align: center;
}
.about-item {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 80%;
}
.about img {
  width: 20rem;
  margin-right: 1%;
  border-radius: 10%;
}
.about-text {
  text-align: center;
  /* width: ; */
}
.about-item .about-text img {
  width: 40%;
}
.education {
  background-color: black;
  height: 100vh;
}
.row {
  padding: 35px;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  gap: 20px;
}
.row .item {
  border: 3px solid white;
}
