
*,
*::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: rgb(203, 181, 223);
}
.navbar {
    width: 100%;
    
}
.navbar-brand img{
    width: 5rem;
}
.navbar-toggler{
    background-color:rgb(203, 181, 223);
}
.section{
    height: 100%;
    width: 100%;
}
.section{ 
    text-align: center;
    position: absolute;
    margin-top:8%;
    margin-left: 5%;
}
.icons{
display:flex;
flex-direction: column;
margin-top: 30%;
}
.background .image{
    width: 20%;
}
.background img{
 width: 20rem;
}
